@import url('https://fonts.googleapis.com/css?family=Lora');

body
{
  background-color: red;
  color: white;
  font-family: 'Lora', serif;
}

th
{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#loginDiv
{
  position: absolute;
  top: 80px;
  margin-left: 40%;
  margin-right: 40%;
  width: 18%;
}
