#wrapper
{
	
}

#about
{
	position: relative;
	left: 100px;
	top: 100px;
	width: 50%;
	min-width: 500px;
}

header
{
	height: 80px;
}

main
{

}

input
{
	padding: 10px;
	width: 70px;
}

#buttons
{
	float: right;
	width: 144px;
}
