/* Dropdown Button */
.dropbtn {
	z-index: 1;
	position: relative;
   background-color: #1FB22E;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
}

button
{
	font-family: 'Lora', serif;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


body
{
	background-image: url(../images/mainMEDIArchivePage.png);
	font-family: font-family: 'Lora', serif;
}

div#buttons
{
	position: absolute;
	top: 115px;
	left: 30px;
}

div#books
{
	position: absolute;
	left: 430px;
	top: 185px;

	width: 890px;
	height: 100px;
}

div#movies
{
	position: absolute;
	left: 430px;
	top: 365px;

	width: 890px;
	height: 100px;
}

div#games
{
	position: absolute;
	left: 430px;
	top: 530px;

	width: 890px;
	height: 100px;
}

div#addMedia
{
	position: absolute;
	left: 322px;
	top: 525px;
	height: 50px;
	width: 55px;
}

h2#collection
{
	position: absolute;
	left: 805px;
	top: 117px;
}

p#greeting
{
	color: #DEEDED;
	position: absolute;
	top: 430px;
	left: 30px;
}

img.item
{
	height: inherit;
}

div#lbft
{
	height: inherit;
	width: inherit;
}

div#info
{
	position: absolute;
	top: 195px;
	left: 20px;
	height: 230px;
	width: 345px;
}

img#infoimage
{
	position: absolute;
	top: -145px;
	height: 120px;
}

h4.label
{
	position: absolute;
	left: 420px;
}

h4#books
{
	top: 130px;
}

h4#movies
{
	top: 295px;
}

h4#games
{
	top: 470px;
}

div#logout
{
	position: absolute;
	top: 445px;
	left: 300px;
}

div.text
{
	position: relative;
	left: 110px;
}

div#logos
{
	position: absolute;
	left: 15px;
	top: 526px;
	height: 50px;
	width: 300px;
}

img.logo
{
	height: 50px;
	width: 50px;
}

div#recommended
{
	position: absolute;
	left: 550px;

	width: 800px;
	height: 100px;
}

div#sort
{
	position: absolute;
	top: 611px;
	left: 321px;
}

img#sorting
{
	height: 25px;
}
